.UserFilter {
  padding: 0 0 12px 0;
}

.nickname {
  :global {
    .ant-form-item-control-wrapper {
      width: 6rem;
    }
  }
}

.mobilePhoneNumber {
  :global {
    .ant-form-item-control-wrapper {
      width: 10rem;
    }
  }
}

.area {
  :global {
    .ant-cascader-picker {
      input {
        height: 32px;
      }
    }
  }
}

.status {
  :global {
    .ant-form-item-control-wrapper {
      width: 6rem;
    }
  }
}
