.UserRole {
  display: flex;
  flex-flow: column;

  :global {
    .ant-checkbox-group-item {
      display: block;
    }
    .ant-checkbox-wrapper+.ant-checkbox-wrapper {
      margin-left: 0;
    }
  }
}
