.UserFilter {
  padding: 12px 0;
}

.nickname {
  :global {
    .ant-form-item-control-wrapper {
      width: 8rem;
    }
  }
}

.mobilePhoneNumber {
  :global {
    .ant-form-item-control-wrapper {
      width: 10rem;
    }
  }
}

.status {
  :global {
    .ant-form-item-control-wrapper {
      width: 6rem;
    }
  }
}
