.sider-menu {
  background: #3e3e3e;
  //position: absolute;
  overflow: auto;
  padding-bottom: 24px;
  color: #999;
}

.logo {
  text-align: center;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  margin: 28px 0;
  overflow: hidden;

  img {
    width: 40px;
    margin-right: 8px;
  }

  span {
    vertical-align: middle;
    font-size: 16px;
    text-transform: uppercase;
    display: inline-block;
  }
}

.main {
  overflow: auto;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;

    .headerTitle {
      font-size: 2em;
    }
  }
}

.bread {
  height: 64px;
  line-height: 64px;
  padding: 0 24px;
  margin-bottom: -24px;
  border: solid 1px red;
}

.content {
  padding: 20px;
  border: solid 1px blue;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-size: 12px;
  background-color: #FFF;
}
