.siderMenu {
  display: flex;
  flex-flow: column;
  background: #3e3e3e;
  overflow: auto;
  padding-bottom: 24px;
  color: #999;
}

.logo {
  text-align: center;
  height: 45px;
  line-height: 40px;
  cursor: pointer;
  margin: 28px 0;
  overflow: hidden;

  img {
    width: 120px;
  }
}

.main {
  overflow: auto;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #404040; /* 一些不支持背景渐变的浏览器 */
    background: -moz-linear-gradient(right, #333, #404040);
    background: -webkit-linear-gradient(left, #333, #404040);
    background: -o-linear-gradient(right, #333, #404040);
    background: linear-gradient(to right, #333 , #404040);

    .headerTitle {
      font-size: 2em;
    }
  }

  .bread {
    height: 48px;
    line-height: 48px;
    padding: 0 24px;
  }

  .container {
    background: #fff;
    margin: 0 10px 10px;
  }

  .content {
    padding: 24px;
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size: 12px;
    background-color: #FFF;
  }
}
