.siderMenu {
  background: #3e3e3e;
  overflow: auto;
  padding-bottom: 24px;
  color: #999;
}

.logo {
  text-align: center;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  margin: 28px 0;
  overflow: hidden;

  img {
    width: 40px;
    margin-right: 8px;
  }

  span {
    vertical-align: middle;
    font-size: 16px;
    text-transform: uppercase;
    display: inline-block;
  }
}

.main {
  overflow: auto;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;

    .headerTitle {
      font-size: 2em;
    }
  }

  .bread {
    height: 48px;
    line-height: 48px;
    padding: 0 24px;
  }

  .container {
    background: #fff;
    margin: 0 24px 24px;
  }

  .content {
    padding: 24px;
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size: 12px;
    background-color: #FFF;
  }
}
