.profile {
  width: 150px;
  background: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  :global {
    .ant-menu-inline, .ant-menu-vertical {
      border-right: 0;
    }
  }
}
