.UserFilter {
  display: flex;
  margin: 8px 0;

  &> div {
    display: flex;
  }

  label {
    margin: auto 5px auto 0;
  }

  .name {
    :global {
      .ant-input {
        width: 5rem;
      }
    }

    margin-right: 16px;
  }

  .phoneNo {
    :global {
      .ant-input {
        width: 12drem;
      }
    }
  }

  .buttonGroup {
    margin-left: auto;
  }
}
